<h1>
    <%= title %>
</h1>

<form action="/order/add" method="post">
    Name: <input type="text" name="name"><br/>
    email: <input type="email" name="email"><br/>
    address: <input type="text" name="address"><br/>
    productName: <input type="text" name="productname"><br/>
    price: <input type="text" name="price"><br/>
    quantity: <input type="text" name="quantity"><br/>

    <button type="submit">Add</button>
</form>